{% extends 'base.html.twig' %}

{% block title %}ISGHA - Modification de l'utilisateur{% endblock %}

{% block body %}
<div>
    {% for flash_error in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ flash_error }}</div>
    {% endfor %}
    {% for flash_error in app.flashes('alert') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1 class="mt-4">

    Modification des informations de l'utilisateur
    </h1>
    {{ form_start(userForm, { 'attr' : { 'class': 'p-3 row g-3 shadow-lg rounded  w-75 m-auto pt-3 pb-4 bg-light row justify-content-center gy-2 align-items-center my-5' } }) }}

        <h2>Identité</h2>
        <div class="col-md-6">
    {{ form_row(userForm.username) }}
        </div>
        <div class="col-md-6">
        {{ form_row(userForm.email) }}
        </div>
        <div class="col-12">
        {{ form_row(userForm.address) }}
        </div>

    <
        <h2>Coordonnées</h2>
        <div class="col-md-6">
        {{ form_row(userForm.phoneNumber) }}
        </div>
        <div class="col-md-4">
        {{ form_row(userForm.city) }}
        </div>
        <div class="col-md-2">
        {{ form_row(userForm.zipcode) }}
        </div>
        <div class="col-md-12">
        {{ form_row(userForm.plainPassword, {
            label: 'Password'
        }) }}
        </div>
    {{ form_end(userForm) }}
</div>
{% endblock %}
