{% extends 'base.html.twig' %}

{% block title %}ISGHA - Modification du mot de passe de l'utilisateur{% endblock %}

{% block body %}
    <div>
        {% for flash_error in app.flashes('success') %}
            <div class="alert alert-success" role="alert">{{ flash_error }}</div>
        {% endfor %}
        {% for flash_error in app.flashes('alert') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}
        <h1 class="mt-4">

            Modification du mot de passe de l'utilisateur
        </h1>
        {{ form_start(userPasswordForm) }}
        <fieldset class="mb-4">

            {{ form_row(userPasswordForm.plainPassword) }}
        </fieldset>
        <fieldset class="mb-4">
            {{ form_row(userPasswordForm.newPassword) }}
        </fieldset>

        {{ form_end(userPasswordForm) }}
    </div>
{% endblock %}
