{% extends 'base.html.twig' %}

{% block title %}Advert{% endblock %}

{% block body %}

<div class="row">
    <div class="col-9">
        <img class="rounded" src="https://picsum.photos/seed/picsum/730/400" alt="">

        <div class="col">
            <div class="d-flex justify-content-between"><h1 class="my-3">{{ advert.title }}</h1>
                <small class="mt-3">Publiée : {{ advert.createdAt|date('d/m/Y à H:i') }}</small></div>

            <h2>Prix : {{ advert.price }} Dhs</h2>
            <div class="text-justify mt-4">
                <h3>Description</h3>
                <p>{{ advert.description }}</p>

            </div>


        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-body m-2">
                <div class="row">
                    <div class="col-4" ><i class="fa-solid fa-user" style="font-size: 50px; color: #35A8AD"></i></div>
                    <div class="col-8">
                        <h5 class="card-title">{{ user.username }}</h5>
                        <p>Note : {{ user.average }}/5</p>
                    </div>
                </div>
                <div class="row"><a href="{{ path('app_user_details',{'id':user.id}) }}" class="btn btn-outline-primary">Voir le profil</a>
                </div>
                </div>
        </div>
    </div>

    </div>


{% endblock %}
